## Investigating the Correlation Between Number of Votes and IMDB User Ratings  <a id='intro'></a>

## Introduction <a id='intro'></a>
In this project, we will work with data from the entertainment industry. We will study a dataset with records on movies and shows. The research will focus on the "Golden Age" of television, which began in 1999 with the release of *The Sopranos* and is still ongoing.

The aim of this project is to investigate how the number of votes a title receives impacts its ratings. The assumption is that highly-rated shows (we will focus on TV shows, ignoring movies) released during the "Golden Age" of television also have the most votes.

### Stages 
Data on movies and shows is stored in the `/datasets/movies_and_shows.csv` file. There is no information about the quality of the data, so we will need to explore it before doing the analysis.

First, we'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, we will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Data analysis

## Stage 1. Data overview <a id='data_review'></a>

Open and explore the data.

In [ ]:
# importing pandas
import pandas as pd

Reading the `movies_and_shows.csv` file from the `datasets` folder and save it in the `df` variable:

In [ ]:
# reading the files and storing them to df
df = pd.read_csv('/datasets/movies_and_shows.csv')

Print the first 10 table rows:

In [ ]:
# obtaining the first 10 rows from the df table
df.head(10)

,name,Character,r0le,TITLE,Type,release Year,genres,imdb sc0re,imdb v0tes
0,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
1,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
2,Albert Brooks,Tom,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
3,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
4,Cybill Shepherd,Betsy,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
5,Peter Boyle,Wizard,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
6,Leonard Harris,Senator Charles Palantine,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
7,Diahnne Abbott,Concession Girl,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
8,Gino Ardito,Policeman at Rally,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
9,Martin Scorsese,Passenger Watching Silhouette,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0

<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Well done We have all necessary data</div>

Obtain the general information about the table with one command:

In [ ]:
# obtaining general information about the data in df
df.info()

<bound method DataFrame.info of                      name                Character      r0le        TITLE  \
0          Robert De Niro            Travis Bickle     ACTOR  Taxi Driver
1            Jodie Foster            Iris Steensma     ACTOR  Taxi Driver
2           Albert Brooks                      Tom     ACTOR  Taxi Driver
3           Harvey Keitel  Matthew 'Sport' Higgins     ACTOR  Taxi Driver
4         Cybill Shepherd                    Betsy     ACTOR  Taxi Driver
...                   ...                      ...       ...          ...
85574    Adelaida Buscato               Mar??a Paz     ACTOR      Lokillo
85575  Luz Stella Luengas             Karen Bayona     ACTOR      Lokillo
85576        In??s Prieto                    Fanny     ACTOR      Lokillo
85577        Isabel Gaona                   Cacica     ACTOR      Lokillo
85578      Julian Gaviria                  unknown  DIRECTOR      Lokillo

            Type  release Year              genres  imdb sc0re  imdb v0tes
0          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
1          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
2          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
3          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
4          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
...          ...           ...                 ...         ...         ...
85574  the movie          2021          ['comedy']         3.8        68.0
85575  the movie          2021          ['comedy']         3.8        68.0
85576  the movie          2021          ['comedy']         3.8        68.0
85577      MOVIE          2021          ['comedy']         3.8        68.0
85578  the movie          2021          ['comedy']         3.8        68.0

[85579 rows x 9 columns]>

The table contains nine columns. The majority store the same data type: object. The only exceptions are `'release Year'` (int64 type), `'imdb sc0re'` (float64 type) and `'imdb v0tes'` (float64 type). Scores and votes will be used in our analysis, so it's important to verify that they are present in the dataframe in the appropriate numeric format. Three columns (`'TITLE'`, `'imdb sc0re'` and `'imdb v0tes'`) have missing values.

According to the documentation:
- `'name'` — actor/director's name and last name
- `'Character'` — character played (for actors)
- `'r0le '` — the person's contribution to the title (it can be in the capacity of either actor or director)
- `'TITLE '` — title of the movie (show)
- `'  Type'` — show or movie
- `'release Year'` — year when movie (show) was released
- `'genres'` — list of genres under which the movie (show) falls
- `'imdb sc0re'` — score on IMDb
- `'imdb v0tes'` — votes on IMDb

We can see three issues with the column names:
1. Some names are uppercase, while others are lowercase.
2. There are names containing whitespace.
3. A few column names have digit '0' instead of letter 'o'.

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data about a movie or show. The columns can be divided into two categories: the first is about the roles held by different people who worked on the movie or show (role, name of the actor or director, and character if the row is about an actor); the second category is information about the movie or show itself (title, release year, genre, imdb figures).

It's clear that there is sufficient data to do the analysis and evaluate our assumption. However, to move forward, we need to preprocess the data.

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
We will correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

In [ ]:
# the list of column names in the df table
df.columns

Index(['   name', 'Character', 'r0le', 'TITLE', '  Type', 'release Year',
       'genres', 'imdb sc0re', 'imdb v0tes'],
      dtype='object')

Change the column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Remove whitespace
* Replace zero with letter 'o'

In [ ]:
# renaming columns
df = df.rename(
    columns={
        '   name': 'name',
        'Character': 'character',
        'r0le': 'role',
        'TITLE': 'title',
        '  Type': 'type',
        'release Year': 'release_year',
        'imdb sc0re': 'imdb_score',
        'imdb v0tes': 'imdb_votes',
    }
)

Check the result. Print the names of the columns once more:

In [ ]:
df.columns
# checking result: the list of column names

Index(['name', 'character', 'role', 'title', 'type', 'release_year', 'genres',
       'imdb_score', 'imdb_votes'],
      dtype='object')

<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Great You can also use
    
    df.columns = [new column names]


</div>

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, combine two `pandas` methods:

In [ ]:
# calculating missing values
print(df.isna().sum())

name               0
character          0
role               0
title              1
type               0
release_year       0
genres             0
imdb_score      4609
imdb_votes      4726
dtype: int64

We identified missing values in several columns. While the missing value in `'title'` isn't critical, missing values in `'imdb_score'` and `'imdb_votes'` affect around 6% of the data, which could impact our analysis. To ensure data integrity, we'll drop all rows with missing values.

In [ ]:
# dropping rows where columns with scores, and votes have missing values
df = df.dropna(axis='rows')

Make sure the table doesn't contain any more missing values. Count the missing values again.

In [ ]:
# counting missing values
print(df.isna().sum())

name            0
character       0
role            0
title           0
type            0
release_year    0
genres          0
imdb_score      0
imdb_votes      0
dtype: int64

<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Perfect</div>

### Duplicates <a id='duplicates'></a>
Find the number of duplicate rows in the table using one command:

In [ ]:
# counting duplicate rows
df.duplicated().sum()

6994

Review the duplicate rows to determine if removing them would distort our dataset.

In [ ]:
# Produce table with duplicates (with original rows included) and review last 5 rows
df_dupes = df[df.duplicated()]
df_dupes.tail(5)

,name,character,role,title,type,release_year,genres,imdb_score,imdb_votes
85569,Jessica Cediel,Liliana Navarro,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85570,Javier Gardeaz?­bal,"Agust??n ""Peluca"" Ort??z",ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85571,Carla Giraldo,Valery Reinoso,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85572,Ana Mar??a S?­nchez,Lourdes,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85577,Isabel Gaona,Cacica,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0

There are two clear duplicates in the printed rows. We can safely remove them.
Call the `pandas` method for getting rid of duplicate rows:

In [ ]:
# removing duplicate rows
df = df.drop_duplicates()
#df.drop_duplicates(inplace=True)

Check for duplicate rows once more to make sure you have removed all of them:

In [ ]:
# checking for duplicates
df.duplicated().sum()

0

<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Correct</div>

Now get rid of implicit duplicates in the `'type'` column. For example, the string `'SHOW'` can be written in different ways. These kinds of errors will also affect the result.

Print a list of unique `'type'` names, sorted in alphabetical order. To do so:
* Retrieve the intended dataframe column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [ ]:
# viewing unique type names
df['type'].unique()

array(['MOVIE', 'the movie', 'tv show', 'shows', 'movies', 'tv shows',
       'tv series', 'tv', 'SHOW'], dtype=object)

Look through the list to find implicit duplicates of `'show'` (`'movie'` duplicates will be ignored since the assumption is about shows). These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `'shows'`
* `'SHOW'`
* `'tv show'`
* `'tv shows'`
* `'tv series'`
* `'tv'`

To get rid of them, declare the function `replace_wrong_show()` with two parameters: 
* `wrong_shows_list=` — the list of duplicates
* `correct_show=` — the string with the correct value

The function should correct the names in the `'type'` column from the `df` table (i.e., replace each value from the `wrong_shows_list` list with the value in `correct_show`).

In [ ]:
# function for replacing implicit duplicates

wrong_shows_list = ['shows', 'SHOW', 'tv show', 'tv shows', 'tv series', 'tv']
correct_show = 'show'

Call `replace_wrong_show()` and pass it arguments so that it clears implicit duplicates and replaces them with `SHOW`:

In [ ]:
# removing implicit duplicates
df['type'] = df['type'].replace(wrong_shows_list, correct_show)

Make sure the duplicate names are removed. Print the list of unique values from the `'type'` column:

In [ ]:
# viewing unique genre names
df['type'].unique()

array(['MOVIE', 'the movie', 'show', 'movies'], dtype=object)

<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Amazing work with implicit duplicates</div>

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Duplicate rows and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All rows with missing values have been removed. 

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to our analysis of the prepared data.

## Stage 3. Data analysis <a id='hypotheses'></a>

Based on the previous project stages, you can now define how the assumption will be checked. Calculate the average amount of votes for each score (this data is available in the `imdb_score` and `imdb_votes` columns), and then check how these averages relate to each other. If the averages for shows with the highest scores are bigger than those for shows with lower scores, the assumption appears to be true.

Based on this, complete the following steps:

- Filter the dataframe to only include shows released in 1999 or later.
- Group scores into buckets by rounding the values of the appropriate column (a set of 1-10 integers will help us make the outcome of our calculations more evident without damaging the quality of our research).
- Identify outliers among scores based on their number of votes, and exclude scores with few votes.
- Calculate the average votes for each score and check whether the assumption matches the results.

To filter the dataframe and only include shows released in 1999 or later, you will take two steps. First, keep only titles published in 1999 or later in our dataframe. Then, filter the table to only contain shows (movies will be removed).

In [ ]:
# using conditional indexing modify df so it has only titles released after 1999 (with 1999 included)
# give the slice of dataframe new name
df_recent = df[df['release_year'] >= 1999]

In [ ]:
# repeat conditional indexing so df has only shows (movies are removed as result)
df = df[df['type'] == 'show']

The scores that are to be grouped should be rounded. For instance, titles with scores like 7.8, 8.1, and 8.3 will all be placed in the same bucket with a score of 8.

In [ ]:
# rounding column with scores
df['imdb_score'] = df['imdb_score'].round()

#checking the outcome with tail()
df.tail

<bound method NDFrame.tail of                       name             character      role  \
163         Graham Chapman               Various     ACTOR
164          Michael Palin  Various / "It's" man     ACTOR
165            Terry Jones               Various     ACTOR
166              Eric Idle               Various     ACTOR
167          Terry Gilliam               Various     ACTOR
...                    ...                   ...       ...
85433     Maneerat Kam-Uan                    Ae     ACTOR
85434    Rudklao Amratisha               unknown     ACTOR
85435      Jaturong Mokjok               unknown     ACTOR
85436     Pisamai Wilaisak               unknown     ACTOR
85437  Sarawut Wichiensarn               unknown  DIRECTOR

                              title  type  release_year  \
163    Monty Python's Flying Circus  show          1969
164    Monty Python's Flying Circus  show          1969
165    Monty Python's Flying Circus  show          1969
166    Monty Python's Flying Circus  show          1969
167    Monty Python's Flying Circus  show          1969
...                             ...   ...           ...
85433                     Let's Eat  show          2021
85434                     Let's Eat  show          2021
85435                     Let's Eat  show          2021
85436                     Let's Eat  show          2021
85437                     Let's Eat  show          2021

                       genres  imdb_score  imdb_votes
163    ['comedy', 'european']         9.0     73424.0
164    ['comedy', 'european']         9.0     73424.0
165    ['comedy', 'european']         9.0     73424.0
166    ['comedy', 'european']         9.0     73424.0
167    ['comedy', 'european']         9.0     73424.0
...                       ...         ...         ...
85433     ['drama', 'comedy']         8.0         5.0
85434     ['drama', 'comedy']         8.0         5.0
85435     ['drama', 'comedy']         8.0         5.0
85436     ['drama', 'comedy']         8.0         5.0
85437     ['drama', 'comedy']         8.0         5.0

[13604 rows x 9 columns]>

It is now time to identify outliers based on the number of votes.

In [ ]:
# Use groupby() for scores and count all unique values in each group, print the result
df.groupby('imdb_score').count()

,name,character,role,title,type,release_year,genres,imdb_votes
imdb_score,,,,,,,,
2.0,24,24,24,24,24,24,24,24
3.0,27,27,27,27,27,27,27,27
4.0,195,195,195,195,195,195,195,195
5.0,592,592,592,592,592,592,592,592
6.0,2541,2541,2541,2541,2541,2541,2541,2541
7.0,4744,4744,4744,4744,4744,4744,4744,4744
8.0,4903,4903,4903,4903,4903,4903,4903,4903
9.0,570,570,570,570,570,570,570,570
10.0,8,8,8,8,8,8,8,8

Based on the aggregation performed, it is evident that scores 2 (24 voted shows), 3 (27 voted shows), and 10 (only 8 voted shows) are outliers. There isn't enough data for these scores for the average number of votes to be meaningful.

To obtain the mean numbers of votes for the selected scores (we identified a range of 4-9 as acceptable), use conditional filtering and grouping.

In [ ]:
# filter dataframe using two conditions (scores to be in the range 4-9)
new_df = df[df['imdb_score'] > 3]
new_df = df[df['imdb_score'] < 10]

# group scores and corresponding average number of votes, reset index and print the result
avg_votes = new_df.groupby('imdb_score')['imdb_votes'].mean().reset_index()
avg_votes
#exo_number = exoplanet.groupby('discovered')['radius'].count()
#exo_radius_sum = exoplanet.groupby('discovered')['radius'].sum()

#exo_radius_mean = exo_radius_sum / exo_number

   imdb_score     imdb_votes
0         2.0    2058.500000
1         3.0    5641.185185
2         4.0    5562.600000
3         5.0    3143.942568
4         6.0    3566.232586
5         7.0    8790.115514
6         8.0   30214.953294
7         9.0  127631.222807

Now for the final step! Round the column with the averages, rename both columns, and print the dataframe in descending order.

In [ ]:
# round column with averages
new_df['imdb_score'] = new_df['imdb_score'].round()

# rename columns
new_df = new_df.rename(columns= {
    'imdb_score': 'score',
    'imdb_votes': 'average'
})
# print dataframe in descending order
new_df.sort_values(by='average', ascending=False, inplace=True)
print(new_df)

                      name           character      role  \
20108         Natalia Dyer       Nancy Wheeler     ACTOR
20115          Paul Reiser           Sam Owens     ACTOR
20113       Priah Ferguson      Erica Sinclair     ACTOR
20112         Brett Gelman       Murray Bauman     ACTOR
20111           Maya Hawke       Robin Buckley     ACTOR
...                    ...                 ...       ...
72156        Toru Nakamura  Eiichi Higashiyama     ACTOR
72157      Teruyuki Kagawa    Y®suke Tadokoro     ACTOR
72158        Manabu Hamada       Satoshi Oribe     ACTOR
72159         Nobuhiro Doi             unknown  DIRECTOR
85437  Sarawut Wichiensarn             unknown  DIRECTOR

                             title  type  release_year  \
20108              Stranger Things  show          2016
20115              Stranger Things  show          2016
20113              Stranger Things  show          2016
20112              Stranger Things  show          2016
20111              Stranger Things  show          2016
...                            ...   ...           ...
72156  JAPAN SINKS: People of Hope  show          2021
72157  JAPAN SINKS: People of Hope  show          2021
72158  JAPAN SINKS: People of Hope  show          2021
72159  JAPAN SINKS: People of Hope  show          2021
85437                    Let's Eat  show          2021

                                                  genres  score    average
20108  ['scifi', 'thriller', 'drama', 'fantasy', 'hor...    9.0  1101055.0
20115  ['scifi', 'thriller', 'drama', 'fantasy', 'hor...    9.0  1101055.0
20113  ['scifi', 'thriller', 'drama', 'fantasy', 'hor...    9.0  1101055.0
20112  ['scifi', 'thriller', 'drama', 'fantasy', 'hor...    9.0  1101055.0
20111  ['scifi', 'thriller', 'drama', 'fantasy', 'hor...    9.0  1101055.0
...                                                  ...    ...        ...
72156                          ['scifi', 'war', 'drama']    6.0        5.0
72157                          ['scifi', 'war', 'drama']    6.0        5.0
72158                          ['scifi', 'war', 'drama']    6.0        5.0
72159                          ['scifi', 'war', 'drama']    6.0        5.0
85437                                ['drama', 'comedy']    8.0        5.0

[13596 rows x 9 columns]

/tmp/ipykernel_69/4132028697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['imdb_score'] = new_df['imdb_score'].round()

<div class="alert alert-block alert-warning"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
It is better to use display instead of print for dataframes </div>

The assumption macthes the analysis: the shows with the top 3 scores have the most amounts of votes.

## Conclusion <a id='hypotheses'></a>

The research done confirms that highly-rated shows released during the "Golden Age" of television also have the most votes. While shows with score 4 have more votes than ones with scores 5 and 6, the top three (scores 7-9) have the largest number. The data studied represents around 94% of the original set, so we can be confident in our findings.